/closet/background-maker/bin/*.class
/closet/background-maker/input
/server/apache2
/server/lang
/server/mysql
/server/php
/server/phpmyadmin
/server/settings
/server/usbwebserver.exe
/utilities/backgrounds-maker/images
/server/vendor
/server/xampp
/server/includes/common/settings.php
