/* old gold: #E0AA0F */
/* navy: #002b45 */

#what_we_do {
	top:50px;
	left:60px;
}

#we_sail {
	right:90px;
	bottom: 130px;
}

#whenever {
	right:75px;
	top:50px;
}

#raceteam {
	right:30px;
	top: 100px;
}