/* old gold: #E0AA0F */
/* navy: #002b45 */

.fixed > div {
	top:1em;
	left:2em;
}

#funding_d {
	margin:auto, auto, auto, auto;
}

#funding_bg {
	background-color:white;
	float:left;
}

#sga {
	float:right;
}